@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Roboto:ital,wght@0,300;0,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap');

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	margin: 0;

	background: #f8f9fa;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

button {
	cursor: pointer;
}

.colorize {
	background: #b85651;
}

.crossword {
	font-family: 'Roboto Slab', serif;
	font-family: 'Merriweather', serif;
	width: fit-content;
	margin: 0 auto;
	font-size: 1.4rem;
	font-weight: 400;
	color: #333;
}

.crossword-form {
	/* border: 1px solid rgba(0, 0, 0, 0.25); */
	/* padding: 0.2rem; */
	width: 400px;
	/* height: 60px; */
	margin: 0 auto;
	display: flex;
	border-radius: 20px;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.075);
	font-size: 1.2rem;
	margin-top: 4rem;
}

.crossword-input {
	font-family: 'Architects Daughter';
	text-transform: uppercase;
	width: 70%;
	font-size: 1rem;
	padding: 0.6rem 0;
	padding-left: 2rem;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	outline: none;
	border: 1px solid #e0e0e0;
	font-size: inherit;
	font-weight: 300;
	letter-spacing: 2px;
}

.crossword-button {
	/* display: inline-block; */
	border: 1px solid #e0e0e0;
	border-left: none;
	background: none;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	padding: 1rem 2rem;
	letter-spacing: 2px;
	font-family: 'Architects Daughter';
	font-size: inherit;
	width: 30%;
	/* border: none; */
	transition: 250ms background;
}

.crossword-button:hover {
	background-color: #f5f5f5;
}
